@use "../styles/_vars" as *;

.app {
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: $primary-opacity 1px solid;
  border-right: $primary-opacity 1px solid;
  overflow: hidden;

  @media (max-width: 600px) {
    padding-left: 20px;
    border: none;
  }
}

.app__container {
  padding-top: 120px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  @media (max-width: 600px) {
    padding-top: 59px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 45%;
    left: 0;
    transform: translate(0, -45%);
    width: 100%;
    height: 1px;
    background-color: $primary-opacity;
    z-index: -1;

    @media (max-width: 924px) {
      top: 55%;
    }

    @media (max-width: 600px) {
      top: 48%;
      width: 93%;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 1px;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 100%;
    background-color: $primary-opacity;
    z-index: -1;

    @media (max-width: 928px) {
      display: none;
    }
  }
}
